<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jc666.androidsharesheet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.android.bluetooth" />
<!--        <package android:name="com.google.android.gm" />-->
        <package android:name="com.facebook.katana" />
        <package android:name="com.microsoft.office.outlook" />
        <package android:name="com.microsoft.office.word" />
        <package android:name="com.microsoft.office.powerpoint" />
        <package android:name="com.microsoft.office.excel" />
        <package android:name="com.microsoft.office.officelens" />
        <package android:name="com.microsoft.office.onenote" />
        <package android:name="com.microsoft.skydrive" />
        <package android:name="com.microsoft.office.officehubrow" />
        <package android:name="com.samsung.android.app.sharelive" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.google.android.apps.docs.editors.docs" />
        <package android:name="com.google.android.apps.docs.editors.slides" />
        <package android:name="com.google.android.apps.docs.editors.sheets" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.google.android.documentsui" />
        <package android:name="com.adobe.reader" />
        <package android:name="jp.naver.line.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidSharesheet">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>